body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 6em;
  display: flex; /* Añade flexbox */
  flex-direction: column; /* Acomoda elementos en columna */
  align-items: center; /* Centra horizontalmente */
}

h1, h2 {
  color: #ffcc00;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px 0;
  text-align: center;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo base para pantallas grandes (PC) */
table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  table {
    width: 90%;
  }
}

th, td {
  border: 1px solid #444;
  padding: 8px;
}

th {
  background-color: #222;
}
